@charset "UTF-8";

html, body, h1, h2, h3, h4, p, ul, ol, dl, li, dt, dd, div, span, img, a, table, tr, th, td {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display:block;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
	max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.br-pc {
    display: block;
  }

  .br-sp {
    display: none;
  }
